name: Mirror to private repo

on:
  push:
    branches: [main]

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout public repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to private repo (force)
        shell: bash
        run: |
          git push --force https://$token@github.com/veerprasad05/veers-crackd-deployed.git HEAD:refs/heads/main
        
        env:
          token: ${{ secrets.PRIVATE_REPO_PAT }}
