name: Mirror to private repo

on:
  push:
    branches: [main]

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout public repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to private repo (force)
        shell: bash
        run: |
          git remote add dest https://${{ secrets.DESTINATION_REPO_PAT }}@github.com/@github.com/veerprasad05/veers-crackd-deployed.git
          git push --force dest HEAD:refs/heads/main
